* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    width: 350px;
    text-align: center;
}

.logo {
    font-size: 55px;
    color: #1DB954;
    margin-bottom: 20px;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.input-box {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #555;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.input-box::placeholder {
    color: #b3b3b3;
}

.Continue {
    width: 100%;
    padding: 15px;
    background: #1DB954;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.Continue:hover {
    background: #1ed760;
    transform: scale(1.02);
}

p {
    color: #b3b3b3;
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 20px;
}

h4 {
    color: white;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

h4:hover {
    text-decoration: underline;
}

